@page
@model TicTacToeServer.Pages.Players.QueriesModel

@{
    ViewData["Title"] = "Index";
}

<h1>Players Details</h1> <br> <br>

<table class="table">
    <tr>
        <td><a href="./Query1"> Watch all the players details </a> </td>
    </tr>
    <tr>
        <td><a href="./Query2"> Watch all the games details </a> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
    </tr>
</table>
