@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="font-style:italic">Welcome!</h1>
    <h4>5x5 Tic Tac Toe Game </h4>
    <br><br><br><br>
</div>

<div class="container"; style="background-color: #FFFF">
        <table style="margin-left:auto;margin-right:auto;border-collapse: separate;border-spacing: 50px 0;">       
            <tr>
                 <td><img style="display:block;" width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1bopr1UK7JHEYKWQj11s8lfu1xd6kBzXazw&usqp=CAU"> </img></td>
                 <td>     </td>
                 <td><img style="display:block;" width="100%" src="https://store-images.s-microsoft.com/image/apps.45170.13510798887543326.b4254aca-2938-4a69-bd77-6e5ce64b798a.ce1e88e8-8400-4af3-a7ae-f43530682d4e?mode=scale&q=90&h=200&w=200&background=black"> </img></td>
                 <td>     </td>
                 <td><img style="display:block;" width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4mumQapvM2lQhG_-PLupXSd8WrFDTWvw_TA&usqp=CAU"> </img></td>
            </tr>
            <tr>
                 <td><a href="./Players"><b> Players</b></a></td>
                 <td>     </td>
                 <td><a href="./Games" > <b>Games </b></a></td>
                 <td>     </td>
                 <td><a href="./Players/Create" > <b>Sign Up </b></a></td>
            </tr>
        </table>
</div>
