@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center";>
     <h1 style="color:yellow;">@ViewData["Title"] </h1>
     <h4 style="color:yellow;"> Name: Nadav Cohen </h4>
     <br/>
     <h4 style="color:yellow;"> ID: 207905472 </h4>
     <br/>
     <h4 style="color:yellow;"> Date: 21/08/2021 </h4>
</div>