@page
@model TicTacToeServer.Pages.RegistrationModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<h4>New Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblPlayers.Id" class="control-label"></label>
                <input asp-for="TblPlayers.Id" class="form-control" />
                <span asp-validation-for="TblPlayers.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblPlayers.FirstName" class="control-label"></label>
                <input asp-for="TblPlayers.FirstName" class="form-control" />
                <span asp-validation-for="TblPlayers.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblPlayers.LastName" class="control-label"></label>
                <input asp-for="TblPlayers.LastName" class="form-control" />
                <span asp-validation-for="TblPlayers.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblPlayers.Age" class="control-label"></label>
                <input asp-for="TblPlayers.Age" class="form-control" />
                <span asp-validation-for="TblPlayers.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblPlayers.Password" class="control-label"></label>
                <input asp-for="TblPlayers.Password" class="form-control" />
                <span asp-validation-for="TblPlayers.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblPlayers.Gender" class="control-label"></label> <br>
                <select id="gender" name="Player.Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="TblPlayers.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
